
<%= image_tag("uottawa.gif", :alt => "University of Ottawa") %>

<p>
Your participation in our study has been withdraw.  We are sorry
to see you go.  
</p>

<p>
If you have withdrawn by accident, then <%= link_to 'Return To Complete Your Taxonomy', {:action => 'inprogress'}, :method => "post" %>
</p>
