Your secret password to Software Application Taxonomy is:

<%= @user.password %>

This password will be required if you try to re-visit the Software Application Taxonomy
web application:

<%= HOME_URL %>

Thanks,

andrew f