<html>
<head>
  <title>Playground: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'taxonomy' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<%= yield  %>

</body>
</html>
